	<ul data-role="listview" data-filter="true">
		<li><a href="#" class="wsCecPowerOn" data-arg-a="0">On</a></li>
		<li><a href="#" class="wsCecPowerOn" data-arg-a="5">On (audio)</a></li>
		<li><a href="#" class="WS_HAJointSpace_SetInputKey" data-arg-a="Standby">Off</a></li>
		<li><a href="#" class="WS_HAJointSpace_SetInputKey" data-arg-a="Mute">Mute</a></li>
		<li><a href="#" class="WS_HAJointSpace_SetInputKey" data-arg-a="AmbilightOnOff">AmbilightOnOff</a></li>
		<li><a href="#" class="WS_HAJointSpace_SetInputKey" data-arg-a="VolumeUp">VolumeUp</a></li>
		<li><a href="#" class="WS_HAJointSpace_SetInputKey" data-arg-a="VolumeDown">VolumeDown</a></li>
		<li><a href="#" class="WS_HASerialIR_WriteByte" data-arg-a="2">AudioIn</a></li>
		<li><a href="#" class="WS_HASerialIR_WriteByte" data-arg-a="7">AudioArc</a></li>
		<li><a href="#" class="WS_HASerialIR_WriteByte" data-arg-a="9">BassUp</a></li>
		<li><a href="#" class="WS_HASerialIR_WriteByte" data-arg-a="10">BassDown</a></li>
		<li><input type="text" id="osdtext" name="osdtext" />
		<button id="btnOsdtext" name="btnOsdtext" class="wsCecOsdText" data-arg-a="0" data-arg-related-input="osdtext">Set</button></li>
	</ul>